 .main-container {
     position: absolute;
     width: 100%;
 }
 
 .header {
     height: 10vh;
     background-color: whitesmoke;
 }

 .container {
    padding-top: 100px;
    height: 90vh;
    background-color: whitesmoke;
 }

 .bookshelf-container {
     width: 70%;
     margin: auto;
     font-size: 30px;
 }

 table {
    font-family: fantasy;
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 0 0 5px #004d80;
    border-radius: 30px;
    overflow: hidden;
    border-style: hidden;
 }

th {
    font-family: fantasy;
    padding: 10px 25px 10px 25px;
    background-color: #004d80;
    color: white;
    font-weight: 800;
}

td {
    text-align: center;
    font-size: 20px;
    font-family: fantasy;
    padding: 15px 0 15px 0;
    background-color: white;
    font-weight: 800;
}

.readBtn {
    width: 100px;
    height: 40px;
    padding: 5px 10px 5px 10px;
    border: 2px solid black;
    border-radius: 50px;
    font-weight: 900;
}

tr:nth-last-child(even) td{
    background-color: #ccebff;
}

tr:nth-last-child(odd) td{
    background-color: #99d6ff;
}

table.library-table tr td{
    font-family: fantasy;
}


.btn {
    margin: 0px auto;
    margin-bottom: 10px;
    height: 60px;
    width: 130px;
    border: 2px solid #004d80;
    background-color: white;
    border-radius: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 900;
}

.btn:hover {
    box-shadow: 1px 1px 1px grey;
    transform: scale(1.02);
    font-size: 18px;
    border: 3px solid #004d80;
}

.btn:active {
    transform: translateZ(10px);
}

.form-container {
    display: none;
    position: relative;
    border: thick solid #004d80;
    border-radius: 50px;
    margin: 0 auto;
    max-width: 50%;
    height: auto;
    background-color: white;
    opacity: 100%;
    margin-bottom: 10px;
    padding: 10px 15px 15px 20px;
}

input[type=text]{
    margin-bottom: 20px;
    border: thin solid black;
    border-radius: 15px;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 0 10px 0;
    font-size: 25px;
    background-color: #004d80;
    color: white;
    padding-left: 10px;
}

input[type=text]::placeholder{
    color: white;
    opacity: 70%;
}

input[type=number]{
    width: 15%;
    height: 30px;
    border: thin solid black;
    border-radius: 9px;
    font-size: 20px;
    box-sizing: border-box;
}

.formBtn {
    margin-top: 20px;
    margin-right: 10px;
}